p2 {
    float:right;
    padding: 2% 2% 12px;
}

footer {
    background-color:lightblue;
    
}

img {
    float:right;
    padding: 10px;
    background-color:black;
    margin-left:5%;
    width:20%;
    
    }
